@import "./variables";

.admin-story-section {
  width: 100%;
  display: flex;
  margin: 0 auto;
  .admin-story-split {
    display: flex;
    width: 100%;
    align-items: center;
    .admin-story-left {
      width: 20%;
      background-color: #82b1ff;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        display: flex;
        padding-left: 30px;
        color: $color-dark-4;
      }
      .title {
        font-size: 30px;
        margin-bottom: 10px;
      }
      .admin--operation {
        height: 30px;
        cursor: pointer;
        margin: 10px 0;
        border-top: 0.5px solid $color-dark-4;
        border-bottom: 0.5px solid $color-dark-4;
        &:hover {
          transition: 0.3s all;
          background-color: #2962ff;
        }
      }
    }
    .admin-story-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80%;
      .admin--container {
        display: flex;
        align-items: center;
        width: 900px;
        height: 100%;
        margin: 40px 0;
        .story--status {
          display: flex;
          flex-direction: column;
          width: 100%;
          h3 {
            font-size: 26px;
          }
          .story--table {
            width: 100%;
            table,
            th,
            td {
              border: 0.5px solid $color-dark-1;
            }
            img {
              width: 170px;
            }
            td {
              text-align: center;
              width: 180px;
              button {
                width: 60px;
                margin: 0 5px;
                padding: 10px 7px;
                border: none;
                border-radius: 5px;
                color: $color-dark-4;
                font-weight: bold;
                cursor: pointer;
              }
              .btn-publish {
                background-color: #82b1ff;
              }
              .btn-reject {
                background-color: #f44336;
              }
            }
          }
          .article--post {
            display: flex;
            flex-direction: column;
            margin: 20px 0;
            width: 100%;
            .box--post {
              h4 {
                font-size: 18px;
                color: $color-dark-1;
              }
              input {
                width: 100%;
                padding: 10px 5px;
                margin: 5px 0;
                font-size: 16px;
              }
              textarea {
                width: 100%;
                padding: 10px 5px;
                margin: 5px 0;
                font-size: 16px;
              }
              select {
                margin: 5px 0;
                padding: 5px 5px;
                font-size: 16px;
              }
              button {
                font-size: 16px;
                margin: 10px 0;
                padding: 5px 15px;
              }
            }
            .divide-box {
              display: flex;
              .box-category {
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
  }
}
