@import "./variables";

.centering {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  background-color: $color-dark-5;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 900px;
}

.article-header {
  margin-bottom: 20px;
}

.article-header h3 {
  color: $color-primary;
}

.article-header h3 .decor-none {
  color: $color-primary;
}

.article-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.article-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.article-item:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
}

.article-item img {
  width: 100%;
  height: 160px;
  margin: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.article-item .article-post {
  width: 80%;
  text-align: left;
  margin: 14px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.article-item .article-post h4 {
  font-size: 14px;
  color: $color-dark-1;
  height: 70px;
}

.article-item .article-post p {
  font-size: 12px;
  color: $color-dark-2;
}

.btn-seepost {
  cursor: pointer;
  background-color: $color-primary;
  color: $color-dark-5;
  font-size: 16px;
  height: 30px;
  font-weight: lighter;
  width: 100px;
  border: #fff;
  border-radius: 20px;
}

.btn-seepost:hover {
  background-color: $color-dark-5;
  color: $color-primary;
  border: 1px solid $color-primary;
  transition: 0.3s all;
}

.btn-seepost:focus {
  outline: 0;
}

.article-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.btn-seeallpost {
  cursor: pointer;
  background-color: $color-dark-5;
  color: $color-primary;
  font-size: 16px;
  height: 30px;
  font-weight: lighter;
  width: 120px;
  border: 1px solid $color-primary;
  border-radius: 20px;
}

.btn-seeallpost:hover {
  background-color: $color-primary;
  color: $color-dark-5;
  border: 1px solid $color-primary;
  transition: 0.3s all;
}

.btn-seeallpost:focus {
  outline: 0;
}
