@import "./variables";

.article-section-wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .article--category {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 35px 0;
    background-color: #fff;
    .article--container {
      width: 1100px;
      display: flex;
      flex-wrap: wrap;
      .article-category-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        p {
          color: $color-dark-1;
        }
      }
    }
  }
  .article--lists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: $color-dark-4;
    align-items: center;
    .article-lists-title {
      display: flex;
      padding: 50px 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 16px;
        color: $color-dark-1;
      }
    }
    .article-lists-items {
      cursor: pointer;
      width: 1300px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 70px;
      .article-lists-item {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 5px;
        margin: 20px 0;
        justify-content: center;
        align-items: center;
        width: 400px;
        background-color: #fff;
        img {
          position: relative;
          height: 240px;
        }
        h3 {
          position: absolute;
          width: 220px;
          color: #fff;
          font-size: 24px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: none;
        }
        &:hover {
          img {
            -webkit-filter: blur(1px) brightness(30%);
            transition: 0.3s all;
          }
          h3 {
            -webkit-filter: brightness(100%) !important;
            display: inline;
            color: #fff;
            transition: 0.3s all;
          }
        }
      }
    }
  }
}
