@import "./variables";

.banner-section {
  background-image: url('../images/2789561.jpg');
  background-size: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
}

.banner-container h1 {
  font-size: 40px;
}