@import "./variables";

.left {
  background-color: #b2dfdb;
}

.middle {
  background-color: #fff59d;
}

.right {
  background-color: #b2dfdb;
}

.card--section {
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.card--container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.card--title {
  text-align: center;
  padding-bottom: 30px;
}

.card--title h3 {
  font-size: 30px;
}

.card--title p {
  color: $color-dark-1;
}

.card--items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card--item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  width: 360px;
  height: 520px;
  margin: 0 20px;
  cursor: pointer;
  &:hover {
    transition: 0.4s;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  }
}

.card-item-img {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.card-item-img img {
  height: 220px;
}

.card-item-title {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 230px;
  margin: 0 30px;
  padding-bottom: 40px;
}

.card-item-title h1 {
  font-size: 30px;
  font-weight: bold;
}

.card-item-title p {
  font-size: 14px;
  color: $color-dark-1;
}
