@import "./variables";

.community--section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  .community--jumbotron {
    background-image: url("../images/kevin-mueller-Vwevx9fYMbM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
    .community-jumbotron-container {
      display: flex;
      width: 900px;
      justify-content: space-between;
      align-items: center;
      .community--description {
        width: 400px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          color: $color-dark-4;
          font-size: 30px;
        }
        p {
          color: $color-dark-4;
          font-size: 16px;
        }
      }
      .community--img {
        width: 420px;
        img {
          width: 400px;
        }
      }
    }
  }
  .community--lists {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    .community--container {
      display: flex;
      flex-direction: column;
      width: 1000px;
      justify-content: center;
      .community-list-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 300px;
        margin-bottom: 40px;
        border-bottom: 0.5px solid $color-dark-3;
        padding-bottom: 20px;
        .community-list-img {
          width: 430px;
          img {
            width: 100%;
            height: 300px;
            object-fit: contain;
            object-position: center;
          }
        }
        .community-list-detail {
          height: 160px;
          display: flex;
          flex-direction: column;
          width: 520px;
          justify-content: space-evenly;
          h3 {
            font-size: 30px;
          }
          p {
            color: $color-dark-1;
          }
          button {
            cursor: pointer;
            width: 100px;
            padding: 7px 0;
            border: none;
            background-color: #4db6ac;
            color: $color-dark-5;
          }
        }
      }
    }
  }
}
