@import "./variables";

.community--banner--section {
  width: 100%;
  padding-top: 105px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  background-color: $color-dark-4;
}

.community-container {
  display: flex;
  width: 1108px;
  height: 300px;
  background: linear-gradient(to right, $color-primary, $color-dark-1);
  justify-content: space-evenly;  
}