@import "./variables";

.detail-article-section {
  background-color: $color-dark-4;
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 20px;
  .detail--container {
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    background-color: #fafafa;
    padding-bottom: 20px;
    .detail--items {
      display: flex;
      flex-wrap: wrap;
      width: 62%;
      .detail-item-img {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        padding-left: 20px;
        width: 100%;
        align-items: center;
        text-align: center;
        img {
          max-width: 100%;
          height: 500px;
        }
      }
      .detail-item-article {
        width: 100%;
        display: flex;
        flex-direction: column;
        .profile {
          display: flex;
          align-items: center;
          width: 100%;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 20px 0;
            margin-left: 20px;
            margin-right: 10px;
            object-fit: cover;
            object-position: center;
          }
          h4 {
            font-size: 16px;
          }
        }
        .article {
          width: 90%;
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          h3 {
            font-size: 30px;
          }
          p.category {
            font-size: 14px;
            color: $color-dark-2;
            text-transform: capitalize;
            span {
              color: $color-dark-1;
            }
          }
          p.location {
            font-size: 14px;
            color: $color-dark-2;
          }
          .box {
            margin: 20px 0;
            p {
              text-align: justify;
              margin: 20px 0;
              text-indent: 40px;
              word-wrap: break-word;
            }
          }
        }
      }
      .detail-item-comment {
        background-color: $color-dark-4;
        margin: 0 20px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        .detail-comment-current {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          .profile {
            margin: 5px 0;
            width: 15%;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin: 20px 0;
              margin-left: 20px;
              margin-right: 10px;
              object-fit: cover;
              object-position: center;
            }
          }
          .comment {
            margin-right: 30px;
            width: 80%;
            display: flex;
            flex-wrap: wrap;
            textarea {
              padding: 5px 0;
              padding-left: 10px;
            }
            button {
              cursor: pointer;
              margin: 0 3px;
              background-color: #4db6ac;
              border: none;
              padding: 5px;
              color: $color-dark-4;
              &:hover {
                background-color: #009688;
                transition: 0.3s all;
              }
            }
          }
        }
        .detail-comment-user {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          .profile {
            margin: 5px 0;
            width: 15%;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin: 20px 0;
              margin-left: 20px;
              margin-right: 10px;
              object-fit: cover;
              object-position: center;
            }
          }
          .comment {
            display: flex;
            .splitter {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 10px;
              p {
                font-size: 12px;
                color: $color-dark-1;
              }
            }
          }
        }
      }
    }
    .detail-another-lists {
      width: 35%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 20px;
      .detail-list-items {
        display: flex;
        flex-direction: column;
        width: 100%;
        h3 {
          padding-bottom: 20px;
        }
        .detail-list-all {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          width: 100%;
          .detail-list-img {
            width: 40%;
            img {
              max-width: 100%;
              height: 100px;
            }
          }
          .detail-list-item {
            width: 60%;
            p.name {
              font-size: 14px;
              color: $color-dark-1;
            }
            p.date {
              font-size: 12px;
              color: $color-dark-1;
            }
          }
        }
      }
    }
  }
}
