@import './variables';

.detail--content--section {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding-top: 105px;

  .detail--content--container {
    width: 1108px;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
  }

}