@import "./variables";

.footer--section {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #e0f2f1;
  padding: 50px 0;
  justify-content: center;
}

.footer--container {
  width: 1000px;
  display: flex;
}

.footer--items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer--item {
  width: 220px;
  p {
    font-size: 14px;
    height: 22px;
  }
  span {
    font-size: 13px;
    color: $color-dark-1;
  }
}
