@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  background-color: $color-dark-4;
}

.decor-none {
  text-decoration: none;
}

.header-white {
  width: 100%;
  position: static;
  // box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
  background-color: #b2dfdb;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 1100px;
  z-index: 99;
}

.header-logo {
  width: 260px;
}

.header-logo .heading-logo {
  color: $color-primary;
}

.header-search {
  width: 260px;
  text-align: center;
}

.header-search input {
  width: 200px;
  text-align: center;
  border: 1px solid $color-dark-3;
  border-radius: 20px;
  padding: 6px 0;
}

.header-search input:focus {
  outline: 0;
}

.header-items {
  width: 260px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-items h4 {
  color: $color-dark-1;
  font-weight: lighter;
}

.header-items .heading-title {
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: $color-dark-1;
  font-weight: lighter;
}

.header-items .heading-title:hover {
  color: $color-primary;
  transition: 0.3s all;
}

.header-items .btn-register {
  cursor: pointer;
  background-color: $color-primary;
  color: $color-dark-5;
  font-size: 16px;
  height: 30px;
  font-weight: bold;
  width: 80px;
  border: #fff;
  border-radius: 20px;
}

.header-items .btn-login:hover {
  background-color: $color-dark-5;
  color: $color-primary;
  border: 1px solid $color-primary;
  transition: 0.3s all;
}

.header-items .btn-register:hover {
  background-color: $color-dark-5;
  color: $color-primary;
  border: 1px solid $color-primary;
  transition: 0.3s all;
}
