@import "./variables";

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.jumbotron--section {
  padding-top: 60px;
  padding-bottom: 85px;
  width: 100%;
  background-color: #b2dfdb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron--container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}

.jumbotron--title {
  width: 40%;
}

.jumbotron--title h1 {
  font-size: 40px;
}

.jumbotron--title p {
  color: $color-dark-1;
  font-size: 14px;
}

.jumbotron--img {
  width: 55%;
}

.jumbotron--img img {
  width: 100%;
}
