@import "./variables";

.content-wrapping {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.content-section {
  width: 100%;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
}

.content-container .content-title {
  color: $color-primary;
  margin: 10px 0;
}

.content-title h3 {
  font-size: 30px;
  margin: 20px 0;
}

.content-items {
  display: flex;
  flex-wrap: wrap;
  // box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  border: 0.5px solid $color-dark-3;
}

.content-items .content-img {
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  // align-items: center;
  justify-content: center;
}

.content-img img {
  height: 500px;
}

.content-items .content-text {
  margin: 20px 10px;
  // margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-text-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  justify-content: space-between;
}

.content-text-container h4 {
  color: $color-dark-1;
}

.content-text-container p {
  font-size: 14px;
  color: $color-dark-1;
}

.content-text-container .content-date {
  font-size: 12px;
}

.default-link {
  text-decoration: none;
  color: $color-dark-1;
}

.content-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.content-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.content-card:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s all;
  img {
    cursor: pointer;
    -webkit-filter: brightness(60%); /* Safari */
    filter: brightness(60%);
    transition: 0.3s all;
  }
}

.content-card img {
  width: 100%;
  height: 160px;
  margin: 1px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.content-card .content-post {
  width: 80%;
  text-align: left;
  margin: 14px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.content-card .content-post h4 {
  font-size: 14px;
  color: $color-dark-1;
  height: 70px;
}

.content-card .content-post p {
  font-size: 12px;
  color: $color-dark-2;
}

.content-card .content-post .content-name {
  font-size: 12px;
  color: $color-dark-2;
}

.content-card .content-post .content-name:hover {
  color: $color-primary;
  text-decoration: underline;
  transition: 0.5s all;
}

@media only screen and (max-width: 768px) {
  .content-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    width: 220px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .content-card img {
    width: 100%;
    height: 140px;
    margin: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

@media only screen and (max-width: 600px) {
  .content-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    // margin: 0 20px;
  }

  .content-card {
    display: flex;
    flex-direction: column;
    width: 220px;
    border-radius: 2px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .content-card img {
    width: 100%;
    height: 140px;
    margin: 1px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}
