@import "./variables";

.post-section {
  width: 100%;
  padding-top: 105px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.helper > input
{
  display: none;
}

.helper img
{
  width: 40px;
  cursor: pointer;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 900px;
}

.post-title {
  border: 1px solid $color-dark-3;
  padding: 5px 20px;
  color: $color-dark-1;
  background-color: #dfe6e9;
}

.post-content {
  width: 100%;
}

.post-content-title {
  width: 100%;
  height: 30px;
  padding: 5px 20px;
}

.post-content-body {
  width: 100%;
  height: 80px;
  padding: 5px 20px;
}


.post-footer {
  width: 100%;
  display: flex;
  border: 1px solid $color-dark-3;
  justify-content: space-between;
  align-items: center;
}

.post-footer .helper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
  width: 150px;
}

.post-footer .helper input {
  width: 40px;
}

.post-footer .helper .btn-post {
  cursor: pointer;
  background-color: $color-primary;
  color: $color-dark-5;
  font-size: 16px;
  height: 30px;
  font-weight: bold;
  width: 80px;
  border: #fff;
  border-radius: 20px;
}

.post-footer .btn-post:hover {
  background-color: $color-dark-5;
  color: $color-primary;
  border: 1px solid $color-primary;
  transition: .3s all;
}

.post-footer .btn-post:focus {
  outline: 0;
}

@media only screen and (max-width: 768px) {
  
  .post-section {
    justify-content: center;
  }

  .post-container {
    width: 600px;
    margin: 0 20px;
  }

}
