@import "./variables";

.profile--section {
  width: 100%;
  display: flex;
  margin: 0 auto;
  background-color: $color-dark-4;
  .profile--container {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    .profile--background {
      width: 100%;
      position: relative;
      img {
        width: 100%;
        height: 70px;
        object-fit: cover;
        object-position: center;
        -webkit-filter: brightness(60%);
      }
    }
    .profile--wrapper {
      width: 1300px;
      display: flex;
      justify-content: space-between;
      margin: 0 30px;
      position: relative;
      flex-wrap: wrap;
      .profile--lists {
        display: flex;
        width: 250px;
        flex-direction: column;
        align-items: center;
        position: relative;
        .profile-wrap-image {
          width: 100%;
          display: flex;
          align-items: center;
          img {
            width: 250px;
            height: 280px;
            object-fit: cover;
            object-position: center;
          }
        }
        .profile-wrap {
          width: 100%;
          margin: 10px 0;
          h3 {
            font-size: 24px;
          }
          p {
            font-size: 14px;
            color: $color-dark-1;
          }
          h4 {
            font-size: 20px;
          }
          button {
            cursor: pointer;
            width: 100px;
            height: 30px;
            background-color: #4db6ac;
            border: none;
            color: $color-dark-5;
            border-radius: 3px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
            &:hover {
              transition: all 0.3s;
              box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
      .profile-content-wrapper {
        width: 1000px;
        display: flex;
        flex-direction: column;
        .profile--stories {
          width: 100%;
          display: flex;
          flex-direction: column;
          .profile-post-stories {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 30px;
            .box--story {
              h4 {
                font-size: 18px;
                color: $color-dark-1;
              }
              input {
                width: 100%;
                padding: 10px 5px;
                margin: 5px 0;
                font-size: 16px;
              }
              textarea {
                width: 100%;
                padding: 10px 5px;
                margin: 5px 0;
                font-size: 16px;
              }
              select {
                margin: 5px 0;
                padding: 5px 5px;
                font-size: 16px;
              }
              button {
                margin: 20px 0;
                cursor: pointer;
                padding: 10px 10px;
                font-size: 16px;
                background-color: #4db6ac;
                border: none;
                color: $color-dark-5;
                border-radius: 3px;
                box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
                &:hover {
                  transition: all 0.3s;
                  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
                }
              }
            }
            .divide-box {
              display: flex;
              .mb-20 {
                margin-right: 20px;
              }
            }
          }
          .profile-post-story {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            cursor: pointer;
            img {
              width: 100%;
              height: 200px;
              object-fit: cover;
              object-position: center;
              -webkit-filter: brightness(30%);
              position: relative;
            }
            h3 {
              font-size: 40px;
              color: $color-dark-4;
              position: absolute;
            }
            &:hover {
              img {
                -webkit-filter: brightness(50%);
                transition: 0.3s all;
              }
            }
          }
          .profile-list-stories {
            width: 100%;
            display: flex;
            flex-direction: column;
            h4 {
              font-size: 22px;
              margin: 20px 0;
            }
            .profile-list-story {
              display: flex;
              justify-content: space-between;
              width: 100%;
              flex-wrap: wrap;
              .stories {
                margin-bottom: 35px;
                width: 220px;
                display: flex;
                align-items: flex-end;
                cursor: pointer;
                img {
                  position: relative;
                  width: 100%;
                  height: 250px;
                  -webkit-filter: brightness(70%);
                }
                h5 {
                  font-size: 16px;
                  color: $color-dark-5;
                  margin: 0 15px;
                  padding-bottom: 30px;
                  position: absolute;
                }
                &:hover {
                  img {
                    -webkit-filter: brightness(100%);
                    transition: 0.3s all;
                  }
                }
              }
            }
          }
          .profile-list-communities {
            width: 100%;
            display: flex;
            flex-direction: column;
            h4 {
              font-size: 22px;
              margin-bottom: 20px;
            }
            .profile-list-community {
              display: flex;
              width: 100%;
              justify-content: space-between;
              flex-wrap: wrap;
              .communities {
                width: 48%;
                margin-bottom: 20px;
                img {
                  width: 100%;
                  height: 280px;
                  object-fit: cover;
                  object-position: center;
                }
                h5 {
                  font-size: 18px;
                }
                p {
                  font-size: 14px;
                  color: $color-dark-1;
                }
              }
            }
          }
        }
      }
    }
  }
}
