@import "./variables";

.login-container {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-color: $color-dark-4;
}

.login-page {
  width: 400px;
  padding: 10% 0 0;
  margin: auto;
  .form {
    position: relative;
    background: $color-dark-5;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 15px;
    text-align: center;
    border: 0px solid;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px $color-dark-3;
    opacity: 0.89;
    h1 {
      color: $color-dark-1;
    }

    .login-form {
      padding-top: 30px;
      input[type="email"] {
        font-family: "roboto", sans-serif;
        outline: 1;
        background: $color-dark-5;
        border-radius: 5px;
        width: 100%;
        border: 1px solid $color-dark-3;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
      }

      input[type="password"] {
        font-family: "roboto", sans-serif;
        outline: 1;
        background: $color-dark-5;
        border-radius: 5px;
        width: 100%;
        border: 1px solid $color-dark-3;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
      }

      .check {
        display: flex;
        justify-content: center;
        color: $color-dark-3;
        font-weight: bold;
      }

      button {
        font-family: "roboto", sans-serif;
        text-transform: uppercase;
        background: $color-primary;
        border: 1px solid $color-dark-3;
        margin-top: 30px;
        width: 50%;
        font-size: 14px;
        font-weight: bold;
        padding: 15px;
        border-radius: 25px;
        color: $color-dark-5;
        cursor: pointer;
        .vhidden {
          display: none;
        }
      }

      .message {
        display: flex;
        justify-content: space-between;

        a {
          color: $color-primary;
          text-decoration: none;
          margin-top: 30px;
          font-weight: 500;
        }
      }
    }
  }
}
