@import "./variables";

.story--section {
  padding: 40px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #eeeef2;
  .story--container {
    width: 1100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .story--header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
      h3 {
        font-size: 24px;
        font-weight: bold;
      }
      .story-header-category {
        width: 240px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        h4 {
          color: $color-dark-1;
        }
        select {
          background-color: $color-dark-1 transparent;
          border: none;
          padding: 5px 5px;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .story--body {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      .story-item {
        margin-bottom: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 405px;
        border-radius: 10px;
        background-color: #fff;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          object-position: center;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          -webkit-filter: brightness(80%);
        }
        .story-item-list {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          align-items: center;
          padding: 20px 10px;
          .story-item-img {
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 50px;
              height: 50px;
              object-fit: cover;
              object-position: center;
              border-radius: 50%;
            }
          }
          .story-item-detail {
            width: 270px;
            display: flex;
            flex-direction: column;
            h4 {
              font-size: 20px;
              color: #212121;
            }
            p {
              color: $color-dark-1;
              font-size: 12px;
            }
            .capital {
              text-transform: capitalize;
            }
          }
        }
        &:hover {
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          transition: 0.3s all;
          img {
            -webkit-filter: brightness(100%);
            transition: 0.3s all;
          }
        }
      }
    }
  }
}
