@import "./variables";

.tutorial--section {
  padding: 85px 0;
  width: 100%;
  background-color: $color-dark-4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorial--container {
  display: flex;
  flex-direction: column;
  width: 1108px;
  flex-wrap: wrap;
}

.tutorial--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.tutorial--title h1 {
  font-size: 40px;
}

.tutorial--title p {
  color: $color-dark-1;
}

.tutorial--contents {
  display: flex;
  justify-content: space-evenly;
}

.tutorial-content-img img {
  height: 500px;
}

.tutorial-content-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tutorial--list {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 650px;
  img {
    width: 40px;
  }
  p {
    width: 600px;
  }
}

.tutorial--register {
  padding-top: 20px;
}

.btn-register {
  height: 50px;
  background-color: #009688;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  padding: 0 20px;
  border: none;
}
