@import "./variables";

.welcome-section {
  width: 100%;
  padding-top: 85px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.welcome-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  background-color: $color-dark-4;
}

.welcome-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.welcome-text h3 {
  color: $color-primary;
  height: 30px;
}

.welcome-text h4 {
  color: $color-dark-1;
  height: 30px;
}

.welcome-text p {
  color: $color-dark-1;
  height: 80px;
  font-size: 0.875em;
}

.welcome-img {
  width: 40%;
}

.welcome-img img {
  width: 100%;
}
